/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*Source Sans Pro*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --color-alpha-light: MEDIUMSLATEBLUE;
    --color-alpha: SLATEBLUE;

    --color-neutral-light: LIGHTSLATEGRAY;
    --color-neutral: SLATEGRAY;
    --color-neutral-dark: DARKSLATEGRAY;
    
    --color-navIcon: #A5A4BF;
    --color-navIcon-hover: #A3A0FB;
    --color-topSearch: #BCBCCB;

    /*Input colors*/
    --global-color-alpha-light: #4F95FF;
    --global-color-alpha: #3385FF;
    --global-color-alpha-dark: #2E77E6;
    --global-color-alpha-x-dark: #1B4186;
    --global-color-alpha-transparent: #3385ffbf;
    --global-color-alpha-x-transparent: #3385ff4d;

    --global-color-neutral-xxxx-light: #F5F6FA;
    --global-color-neutral-xxx-light: #E2E3E7;
    --global-color-neutral-xx-light: #caccd4;
    --global-color-neutral-x-light: #b5b6c0;
    --global-color-neutral-light: #a0a1ad;
    --global-color-neutral: #8b8c9a;
    --global-color-neutral-dark: #757787;
    --global-color-neutral-x-dark: #606274;
    --global-color-neutral-xx-dark: #4b4c60;
    --global-color-neutral-xxx-dark: #35374d;
    --global-color-neutral-xxxx-dark: #20223a;

    /*Whitespace*/
    --global-baseline: 5px;
    --global-whitespace-xss: var(--global-baseline);
    --global-whitespace-xs: calc(var(--global-baseline) * 2);
    --global-whitespace-sm: calc(var(--global-baseline) * 3);
    --global-whitespace-md: calc(var(--global-baseline) * 4);
    --global-whitespace-lg: calc(var(--global-baseline) * 5);
    --global-whitespace-xl: calc(var(--global-baseline) * 6);

    /* Shadows */

    /* border stuff */
    --global-borderRadius: 3px;
    --global-borderWidth: 1px;

    /* transitions */
    --transition-alpha: .3s;

    /* Inputs */
    /* Inputs */
    --global-input-backgroundColor: White;
    --global-input-color: var(--global-color-neutral-xxxx-dark);
    --global-input-borderColor: var(--global-color-neutral-xxx-light);
    --global-input-hover-borderColor: var(--global-color-neutral-xx-light);
    --global-input-focus-borderColor: var(--global-color-alpha);
    --global-input-boxShadow: 0 0 0 3px var(--global-color-alpha-x-transparent);

    --global-toggle-backgroundColor: var(--global-color-neutral-xxxx-light);
    --global-toggle-checked-backgroundColor: var(--global-color-alpha-transparent);
    --global-toggle-checked-borderColor: var(--global-color-alpha-dark);
    --global-toggle-boxShadow: 0px 0px 3px 1px rgba(0,0,0,.16);

}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--color-neutral-dark);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
}
body{
    overflow-y: hidden;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: var(--color-alpha);
    color: white;
    text-shadow: none;
}

::selection {
    background: var(--color-alpha);
    color: white;
    text-shadow: none;
}

::-webkit-scrollbar {
    width: var(--global-baseline);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-navIcon);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-navIcon-hover);;
  }
/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2{
    font-weight: 700;
}

h1 {
    font-size: 36px;
    line-height: calc(var(--global-baseline)*10);
    margin: 0 0 var(--global-whitespace-md);
    
}

h2 {
    font-size: 32px;
    line-height: calc(var(--global-baseline)*8);
    margin: 0 0 var(--global-whitespace-lg);
    
}


h3 {
    font-size: 26px;
    line-height: calc(var(--global-baseline)*6);
    margin: 0 0 var(--global-whitespace-md);
    font-weight: 400;
}


h4,
h5,
h6 {
    font-size: 18px;
    font-weight: 400;
    line-height: 13px;
    margin: 0 0 var(--global-whitespace-md);
}
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 var(--global-whitespace-md);
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    transition: all var(--transition-alpha);
    color: var(--color-alpha);
    outline-color: var(--color-alpha);
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: var(--color-alpha);
}

a:hover,
a:focus {
    color: var(--color-alpha-light);
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: var(--color-neutral-light);
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: 24px 24px 0;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 79.5em; /* 79.5 * 16px = 1272 */
    width: 100%;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Logo
    ---
    Website main logo
*/

.c-app{
    display: grid;
    grid-template-columns: 260px auto;
    grid-template-rows: min-content auto;
    grid-gap: 0px;

    min-height: 100vh;

    
}

.c-app__logo{
    background-color: #3B3B53;
    color: white;
    
}   

.c-app__logo h1{
    font-size: calc(var(--global-baseline) * 3);
    line-height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    padding: var(--global-whitespace-lg);
}

.c-app__sidebar{
    background-color: #43425D;
    overflow-y: scroll;
    height: calc(100vh - 70px);
}

.c-app__topbar{
    background-color: white;
    padding: var(--global-whitespace-sm) var(--global-whitespace-md);
}

.c-top-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-top-search{
    display: flex;
    align-items: center;
}
.c-top-icon{
    
    height: var(--global-whitespace-md);
    width: var(--global-whitespace-md);
}

.c-top-icon--search{
    margin-right: var(--global-whitespace-xs);
}
.c-top-icon--dropdown svg{
    margin-right: var(--global-whitespace-xs);
    height: var(--global-whitespace-xs) !important;
    width: var(--global-whitespace-xs) !important; 
}

.c-top-icon svg{
    height: var(--global-whitespace-md);
    width: var(--global-whitespace-md);
    fill: var(--color-topSearch);
}

.c-top-search input{
    width: 100%;
}

.c-top-profile{
    display: flex;
}

.c-profile_notifications{
    display: flex;
    align-items: center;
    width: 111px;
    justify-content: space-between;
}

.c-profile_divider{
    width: 1px;
    height: 40px;
    background-color: var(--color-topSearch);
    margin: 0 var(--global-whitespace-md);
}

.c-profile_info{
    display: flex;
    align-items: center;
}
.c-profile_info-name{
    margin-right: var(--global-whitespace-xs);
}
.c-profile_info-pic img{
    width: 38px;
    border-radius: 100%;
}

.c-app__main{
    height: 100%;
    background-color: #F0F0F7;
    overflow-y: scroll;
    height: calc(100vh - 70px);
}

.c-app__main-container{
    max-width: calc(var(--global-baseline) * 234);
    padding: var(--global-whitespace-xl);
    margin: 0 auto;
}

.c-dashboard{
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(5, auto);
    grid-gap: var(--global-whitespace-xl);
}

.c-dashboard__item{
    background-color: white;
    padding: var(--global-whitespace-md);
}

.c-dashboard__item--title{
    font-size: 18px;
    line-height: 13px;
}

.c-dashboard__item--1{
    grid-column: 1 / span 12;
}
.c-dashboard__item--2{
    grid-column: 1 / span 6;
    grid-row: 2;
}
.c-dashboard__item--3{
    grid-row: 2;
    grid-column: 7 / span 6;
}

.c-dashboard__item--4{
    grid-row: 3 / span 2;
    grid-column: 1 / span 4;
}
.c-dashboard__item--5{
    grid-row: 3;
    grid-column: 5 / span 8;
}
.c-dashboard__item--6{
    grid-row: 4;
    grid-column: 5 / span 4;
}

.c-dashboard__item--7{
    grid-row: 4;
    grid-column: 9 / span 4;
}

.c-dashboard__item--8{
    grid-row: 5;
    grid-column: 1 / span 4;
}
.c-dashboard__item--9{
    grid-row: 5;
    grid-column: 5 / span 8;
}

.c-stats_top-bar{
    display: flex;
    justify-content: space-between;
}

.c-main-nav ul{
    
    list-style: none;
    padding: 0;
    padding-top: var(--global-whitespace-xss);
    margin: 0;
}

.c-main-nav__item{
    margin-bottom: var(--global-whitespace-xss);
    transition: var(--transition-alpha);
}

.c-main-nav__item:hover{
    background-color: #3B3B53;
    transition: var(--transition-alpha);
    border-left: var(--global-baseline) solid var(--color-navIcon-hover);
}
.c-main-nav__item--selected{
    background-color: #3B3B53;
    border-left: var(--global-baseline) solid var(--color-navIcon-hover);
}

.c-main-nav__item a{
    color: white;
    display: flex;
    text-decoration: none;
    padding: var(--global-whitespace-md);
    font-size: calc(var(--global-baseline) * 3);
    line-height: calc(var(--global-baseline) * 4);
}

.c-nav__symbol{
    margin-right: var(--global-whitespace-xs);
}

.c-nav__symbol svg{
    fill: var(--color-navIcon);
    height: 16px;
    width: 16px;
}

/*------Custom inputs-------*/
.c-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: var(--global-borderWidth) solid var(--global-input-borderColor);
    border-radius: var(--global-borderRadius);
    border-style: solid;
    color: var(--global-page-color);
    background-color: var(--global-input-backgroundColor);
    font-family: inherit;
    font-size: 16px;
    line-height: calc(var(--global-baseline) * 3);
    padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth)) var(--global-whitespace-xs);
    outline: none;
    transition: border var(--global-transition-timing-alpha);
}

.c-input:hover {
    border: var(--global-borderWidth) solid var(--global-input-hover-borderColor);
    background-color: var(--global-input-backgroundColor);
    color: var(--global-page-color);
    box-shadow: var(--global-input-boxShadow);
}

.c-input:focus,
.c-input:active {
    border: var(--global-borderWidth) solid var(--global-input-focus-borderColor);
    background-color: var(--global-input-backgroundColor);
    color: var(--global-page-color);
    box-shadow: var(--global-input-boxShadow);
}

.c-custom-select{
    display: block;
    position: relative;
    
}

.c-custom-select__symbol{
    position: absolute;
    width: 24px;
    height: 24px;
    fill: var(--global-color-neutral-x-light);
    transform: translate(-28px, 4px);
    pointer-events: none;
}


/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
    color: var(--color-neutral);
}

.u-color-neutral-dark {
    color: var(--color-neutral-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 27em !important;
}

.u-max-width-sm {
    max-width: 39em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}


/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: 14px;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
